spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/payment_db
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
       dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8084
eureka:
  client:
    # Set to true to register this app with the server
    register-with-eureka: true
    # Set to true to fetch the list of other services from the server
    fetch-registry: true
    service-url:
      # The location of your Eureka Server
      defaultZone: http://localhost:8761/eureka/